/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*----------------------------------------
Colors
----------------------------------------*/
html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 500;
}

img {
  max-width: 100%;
}

.l-header {
  height: 80px;
  margin: 0 0 48px 0;
}

.l-footer {
  height: 240px;
  margin: 120px 0 0 0;
}

.l-main {
  max-width: 570px;
  margin: 0 auto;
}

.p-body__wrapper {
  background-color: rgba(0, 0, 0, 0.04);
}

.p-feed__title {
  display: inline-block;
  padding: 4px 6px;
  font-size: 16px;
  font-weight: 900;
  line-height: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.87);
  margin: 0 0 32px 0;
}

.p-header {
  height: 80px;
  background-color: #e2041b;
}
.p-header__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-header__title-text {
  display: block;
  margin: 0 0 0 16px;
  font-family: "Bowlby One SC", cursive;
  font-size: 3.4rem;
  color: white;
  text-decoration: none;
}
.p-header__nav-list {
  display: flex;
  justify-content: flex-end;
}
.p-header__nav-text {
  display: block;
  padding: 0 16px;
  line-height: 80px;
  color: white;
  text-decoration: none;
}
.p-header__nav-text:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.p-footer {
  display: flex;
  flex-direction: column-reverse;
  height: 240px;
  background-color: rgba(0, 0, 0, 0.04);
}
.p-footer__rights {
  display: flex;
  align-items: center;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.87);
}
.p-footer__rights-text {
  margin: 0 auto;
  font-size: 1.2rem;
  color: white;
}

.p-article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 40px 0;
  padding: 0 0 32px 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

.p-articleExcerpt {
  margin: 0 16px 0 0;
}
.p-articleExcerpt__title {
  margin: 0 0 8px 0;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.87);
}
.p-articleExcerpt__body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.54);
}
.p-articleExcerpt .read-more {
  display: block;
  margin: 8px 0 0 0;
  font-size: 1.4rem;
  color: #3f88c5;
}

.p-profileSmall {
  width: 120px;
}
.p-profileSmall__image {
  height: 90px;
}
.p-profileSmall__name {
  margin: 4px 0;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.87);
}
.p-profileSmall__starRating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 12px;
}
.p-profileSmall__starRating--front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.p-profileSmall__starRating--back {
  color: rgba(0, 0, 0, 0.12);
}

.p-profileMedium {
  display: flex;
  height: 120px;
  overflow: hidden;
}
.p-profileMedium__image {
  width: 160px;
  margin: 0 16px 0 0;
}
.p-profileMedium__name {
  margin: 4px 0;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.87);
}
.p-profileMedium__office {
  margin: 0 0 8px 0;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.54);
}
.p-profileMedium__starRating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 14px;
}
.p-profileMedium__starRating--front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.p-profileMedium__starRating--back {
  color: rgba(0, 0, 0, 0.12);
}

.p-single {
  margin: 0 0 48px 0;
}
.p-single__title {
  margin: 0 0 24px 0;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.87);
}
.p-single__body {
  font-size: 1.6rem;
  line-height: 2;
  color: rgba(0, 0, 0, 0.87);
}

.talentList__title {
  display: inline-block;
  padding: 4px 6px;
  font-size: 16px;
  font-weight: 900;
  line-height: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.87);
  margin: 0 0 32px 0;
}
.talentList .talentProfile {
  margin: 0 0 16px 0;
}

.p-talentProfile {
  margin: 0 0 48px 0;
}
.p-talentProfile__basic {
  margin: 0 0 48px 0;
}

.p-talentBasics__image {
  margin: 0 0 16px 0;
}
.p-talentBasics__name {
  font-size: 24px;
}
.p-talentBasics__member {
  display: flex;
  margin: 8px 0 0 0;
  list-style-type: none;
}
.p-talentBasics__rating {
  display: flex;
  margin: 16px 0;
}
.p-talentMember__item {
  margin: 0 8px 0 0;
}
.p-talentMember__text {
  font-size: 1.4rem;
  color: #3f88c5;
}

.p-talentRating__title {
  margin: 0 16px 0 0;
  font-size: 1.4;
  color: rgba(0, 0, 0, 0.54);
}
.p-talentRating__starRating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 1.6rem;
}
.p-talentRating__starRating--front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.p-talentRating__starRating--back {
  color: rgba(0, 0, 0, 0.12);
}

.p-talentDetails {
  line-height: 1.7;
}
.p-talentDetails__title {
  display: inline-block;
  padding: 4px 6px;
  font-size: 16px;
  font-weight: 900;
  line-height: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.87);
  margin: 0 0 16px 0;
}
.p-talentDetails__dateOfDebut {
  margin: 0 0 8px 0;
}
.p-talentDetails__office {
  margin: 0 0 8px 0;
}
/*!
Theme Name: Goodman
Author: Kohey
Description: Powerd by Laravel.
*/
/*----------------------------------------
Foundation
----------------------------------------*/
/*----------------------------------------
Layout
----------------------------------------*/
/*----------------------------------------
Component
----------------------------------------*/
/*----------------------------------------
Project
----------------------------------------*/