@use "./foundation/colors";
@use "./foundation/variables";

.p-article {
    margin: 0 0 48px 0;

    &-content {
        margin: 0 0 8px 0;
    
        &__title {
            margin: 0 0 12px 0;
            font-size: 2.0rem;
            color: colors.$dark_087;
        }

        &__body {
            font-size: 1.6rem;
            line-height: 1.7;
            color: colors.$dark_087;
        }
    }

    &-profile {
        padding: 8px 8px;
        display: flex;
        justify-content: flex-start;
        border: solid 1px colors.$dark_012;

        &__image {
            margin: 0 16px 0 0;
            width: 80px;
            height: 60px;
        }

        &__name {
            margin: 8px 0;
            font-size: 1.4rem;
            color: colors.$dark_087;
        }
    }
}

.star-rating {
    position: relative;
    width: 5em;
    height: 1em;
    font-size: 14px;

    &-front {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        color: #ffcc33;
    }

    &-back {
        color: colors.$dark_012;
    }
}