@use "./foundation/colors";
@use "./foundation/variables";

.p-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 40px 0;
    padding: 0 0 32px 0;
    border-bottom: solid 1px colors.$dark_012;

    &__excerpt {
        margin: 0 16px 0 0;

        &__title {
            margin: 0 0 8px 0;
            font-size: 2.0rem;
            color: colors.$dark_087;
        }

        &__body {
            font-size: 1.4rem;
            line-height: 1.7;
            color: colors.$dark_054;
        }
    }
}