@use "./foundation/colors";
@use "./foundation/variables";

.p-footer {
    display: flex;
    flex-direction: column-reverse;
    height: variables.$footer_height;
    background-color: colors.$alt_004;
}

.p-copyrights {
    display: flex;
    align-items: center;
    height: 24px;
    background-color: colors.$dark_087;

    &__text {
        margin: 0 auto;
        font-size: 1.2rem;
        color: colors.$white_100;
    }
}