@use "./foundation/colors";
@use "./foundation/variables";

.p-profileSmall {
    width: 120px;

    &__image {
        height: 90px;
    }

    &__name {
        margin: 4px 0;
        font-size: 1.2rem;
        color: colors.$dark_087;
    }

    &__starRating {
        position: relative;
        width: 5em;
        height: 1em;
        font-size: 12px;

        &--front {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            color: #ffcc33;
        }

        &--back {
            color: colors.$dark_012;
        }
    }
}