@use "./foundation/colors";

.p-single {
    margin: 0 0 24px 0;

    &__title {
        margin: 0 0 36px 0;
        font-size: 3.0rem;
        color: colors.$dark_087;
    }

    &__body {
        font-size: 1.8rem;
        line-height: 1.7;
        color: colors.$dark_087;
    }

    p {
        margin: 0 0 36px 0;
    }

    &__pageView {
        font-size: 1.4rem;
        color: colors.$dark_054;
    }

    &__twitterShare {
        margin: 0 0 24px 0;
    }
}