@use "./foundation/colors";
@use "./foundation/mixin";

.p-talentProfile {
    margin: 0 0 48px 0;
}

.p-talentBasics {
    margin: 0 0 48px 0;

    &__image {
        margin: 0 0 16px 0;
    }

    &__name {
        font-size: 24px;
    }

    &__member {
        display: flex;
        margin: 8px 0 0 0;
        list-style-type: none;

        &__item {
            margin: 0 8px 0 0;
        }

        &__text {
            font-size: 1.4rem;
            color: colors.$theme_accent;
        }
    }
    &__rating {
        display: flex;
        margin: 16px 0;

        &__title {
            margin: 0 16px 0 0;
            font-size: 1.4;
            color: colors.$dark_054;
        }
        &__starRating {
            position: relative;
            width: 5em;
            height: 1em;
            font-size: 1.6rem;
            &--front {
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                color: #ffcc33;
            }
            &--back {
                color: colors.$dark_012;
            }
        }
    }
}

.p-talentDetails {
    line-height: 1.7;

    &__title {
        @include mixin.sectionTitle;
        margin: 0 0 16px 0;
    }

    &__dateOfDebut {
        margin: 0 0 8px 0;
    }

    &__office {
        margin: 0 0 8px 0;
    }

    &__awardHistory {
    }
}